<div id="nav" class="nav"><nav>
<img src="img/Logocn.png" onclick="gotourl('/?cn');">
<div class="cornerblock">
<div id="langbar"><div id="en" class="flag" onclick="gotourl('/');">English</div></div>
<div id="loginbar">登录</div>
<div id="contactbar" onclick="gotourl('tel:09-818-6606')"><span>09-818-6606</span></div>
</div>
<a id="m4" onclick="gotourl('?cn&CONTACT')">联系我们</a>
<a id="m3" onclick="gotourl('?cn&SUPPORT')">售后服务</a>
<a id="m0" onclick="gotourl('?cn&ABOUT')">关于我们</a>
<a id="m2" onclick="dropdownMenu('m2','ddm2')">主要产品</a>
<ul id="ddm2" class="closed">
<li onclick="gotourl('?cn&product0')">保温棉产品</li>
<li onclick="gotourl('?cn&product1')">热泵和面板加热器</li>
<li onclick="gotourl('?cn&product2')">通风系统</li>
<li onclick="gotourl('?cn&product3')">LED灯</li>
<li onclick="gotourl('?cn&product4')">PPE-个人防护设备</li>
</ul>
<a id="m1" onclick="dropdownMenu('m1','ddm1')">服务项目</a>
<ul id="ddm1" class="closed">
<li onclick="gotourl('?cn&service1')">保 温 棉</li>
<li onclick="gotourl('?cn&service2')">健康家庭</li>
</ul>
<a id="m0" onclick="gotourl('/')">首 页</a>
</nav></div>