<div id="nav" class="nav"><nav>
<img src="img/Logoen.png" onclick="gotourl('/');">
<div class="cornerblock">
<div id="langbar"><div id="en" class="flag" onclick="gotourl('?cn');">中文版</div></div>
<div id="loginbar">Login</div>
<div id="contactbar" onclick="gotourl('tel:09-818-6606')"><span>09-818-6606</span></div>
</div>
<a id="m4" onclick="gotourl('?CONTACT')">CONTACT</a>
<a id="m3" onclick="gotourl('?SUPPORT')">SUPPORT</a>
<a id="m0" onclick="gotourl('?ABOUT')">ABOUT US</a>
<a id="m2" onclick="dropdownMenu('m2','ddm2')">PRODUCTS</a>
<ul id="ddm2" class="closed">
<li onclick="gotourl('?product0')">Insulation Products</li>
<li onclick="gotourl('?product1')">Heat Pumps & Panel Heaters</li>
<li onclick="gotourl('?product2')">Ventilation</li>
<li onclick="gotourl('?product3')">LED Lights</li>
<li onclick="gotourl('?product4')">PPE - <span style="font-size:9px">Personal Protection Equipment</span></li>
</ul>
<a id="m1" onclick="dropdownMenu('m1','ddm1')">SERVICES</a>
<ul id="ddm1" class="closed">
<li onclick="gotourl('?service1')">INSULATION</li>
<li onclick="gotourl('?service2')">HEALTHY HOME</li>
</ul>
<a id="m0" onclick="gotourl('/')">HOME</a>
</nav></div>